@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #162b32;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.h-80vh {
  // height: 80vh;
}

input {
  padding: 1em;
  border: none;
  margin: auto;
  text-align: left;
  width: 100%;
  background-color: inherit;
}

.highlight {
  background-color: white;
  color: black;
  padding: 0.7em;
  border-radius: 1.4em;
}

.bg-light-green {
  background-color: #e5fffa;
}

.bg-light-red {
  background-color: #ffe0e0;
}

.bg-light-yellow {
  background-color: #ffe8ac;
}

.bg-accent-green {
  border-color: #97efe0;
}

.bg-accent-red {
  border-color: #ff9999;
}

.bg-accent-yellow {
  border-color: #ffc01f;
}

.text-gray-primary {
  color: #6a777c;
}

.text-gray-secondary {
  color: #4a4a4a;
}
